*.pbi
*.xcl
*.dep
*.ps1
!tools/
!tools/*.ps1
*.cspy.bat
*.out
*.map
*.o
*.wsdt
*.pbd
*.linf
*.pbw
*.browse
*.crun
*.dbgdt
*.uvguix.*
*.lst
*.crf
*.d
*.axf
*.htm
*.lnp
*.__i
*._ia
*.sim
*JLinkLog.txt
*.tmp
._*
**/._*
.DS_Store
**/.DS_Store
.keil-task/
SeekFree_RT1064_Opensource_Library/project/mdk/Objects/
Example/Coreboard_Demo/E01_gpio_demo/mdk/Objects/
